@import url('https://fonts.googleapis.com/css2?family=Galindo&display=swap');


h1 {
    font-size: 50px;
}

.subheader{
    color: #333333;
}

body {
    font-family: "Galindo";
    text-align: center;
    background-color: #9153ac;
    padding-top: 60px;
}   

.desc {
    font-size: 20px;
}

.icons hover{
    color: #9153ac;
}
a {
    text-align: bottom;
    color:#000000;

}

a:hover{
    color: orange;
    size: 110%;
}

.imageIcon{
    width: 256px;
    height: 256px;
    border-radius: 20px;
}

.icons {
    width: 256px;
    height: 256px;
    position: absolute;
    right:42.5%;
}

.navbar a {
    padding: 10px;
  }

